WEB_API_KEY=tu_web_api_key_aqui
WEB_APP_ID=tu_web_app_id_aqui
ANDROID_API_KEY=tu_android_api_key_aqui
ANDROID_APP_ID=tu_android_app_id_aqui
IOS_API_KEY=tu_ios_api_key_aqui
IOS_APP_ID=tu_ios_app_id_aqui
MESSAGING_SENDER_ID=tu_sender_id_aqui
PROJECT_ID=tag-ok
STORAGE_BUCKET=tag-ok.firebasestorage.app
IOS_BUNDLE_ID=com.example.tagOk
MAPBOX_ACCESS_TOKEN=tu_token_de_mapbox_aqui